%Image::ExifTool::UserDefined = (
    'Image::ExifTool::Composite' => {
        GeolocationCountryNvl => {
            Require => { 0 => 'FileName' },
            Desire  => { 1 => 'GeolocationCountry' },
            ValueConv => q{
                defined($val[1]) && $val[1] ne '' ? $val[1] : 'NoLocation'
            },
        },
        ModelNvl => {
            Require => { 0 => 'FileName' },
            Desire  => { 1 => 'Model' },
            ValueConv => q{
                defined($val[1]) && $val[1] ne '' ? $val[1] : 'Unknown'
            },
        },
        MakeNvl => {
            Require => { 0 => 'FileName' },
            Desire  => { 1 => 'Make' },
            ValueConv => q{
                defined($val[1]) && $val[1] ne '' ? $val[1] : 'Unknown'
            },
        },
    },
);

1;
